
@{
    ViewBag.Title = "Adm";
}

<h2>Adm</h2>

<h2>Login Administrativo</h2>
<div class="row">
    @*<div class="col-md-3">
        <form action="" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="acesso">Nivel de Acesso:</label>
                <input type="number" class="form-control" id="acesso" />
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form>
    </div>*@
    <div class="col-md-4">
        <h2>Cadastro do Médico</h2>
        <p style="font-style: italic;">
            Acesse a área de cadastro, e informe os dados necessários para o cadastramento.
        </p>
        <p><a class="btn btn-default" href="~/Medicos/Create"><img class="img-rounded" src="~/img/icon-marketing-medico2-1.png" alt="medico" width=200 height=200></a></p>             
    </div>
    <div class="col-md-4">
        <h2>Cadastro das Especialidades</h2>
        <p style="font-style: italic;">
            Acesse a área de cadastro, e informe os dados necessários para o cadastramento.
        </p>
        <p><a class="btn btn-default" href="~/Especialidades/Create"><img class="img-rounded" src="~/img/especialidade.png" alt="medico" width=200 height=200></a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastro das Cidades</h2>
        <p style="font-style: italic;">
            Acesse a área de cadastro, e informe os dados necessários para o cadastramento.
        </p>
        <p><a class="btn btn-default" href="~/Cidades/Create"><img class="img-rounded" src="~/img/map.png" alt="medico" width=200 height=200></a></p>
    </div>
    <div> <p><a class="btn btn-default" href="~/Home/Cliente">Voltar</a></p></div>
</div>